*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.hero{
    /* display:grid;
    grid-template-columns:repeat(2,1fr); */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
   height:100vh;
    background:#1E2A56;
}
.hero-content h2{
    font-size: 2.5rem;
    color:antiquewhite;
}
.hero-content p{
    font-size: 1.2rem;
    color:antiquewhite;
    margin: 20px 0;
    text-align: center;
}
.hero-button{
    padding: 10px 20px;
    background-color: #1E2A56;
    color:antiquewhite;
    border: 1px solid antiquewhite;
   
    text-decoration: none;
    font-size: 1.2rem;

}