html{
    scroll-behavior: smooth;
}
.container{
    position: fixed;
   
    width: 100%;
    /* z-index: 1000; */
    background-color: #1E2A56;
}
/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Header */

.header{

    position:fixed;
    top:0;
    left:0;
    width:100%;

    background:rgb(32, 18, 18);

    box-shadow:0 5px 20px rgba(225, 185, 185, 0.08);

    z-index:1000;

}

/* Container */

.container{

    width:100%;
    max-width:100%;
background-color: #1E2A56;
    margin:auto;
    height:70px;
    display:flex;
    justify-content:space-between;
    align-items:center;
padding-right: 3px;
}



/* Navigation */

.nav-links{

    display:flex;
    list-style:none;
    gap:50px;

}

/* Links */

.nav-links a{

    text-decoration:none;
font-weight: bold;
    color:rgb(232, 229, 229);
    font-size:25px;
    font-weight:500;
    position:relative;
    transition:.3s ease;
}

/* Underline Animation */

.nav-links a::after{

    content:"";

    position:absolute;

    left:0;
    bottom:-8px;

    width:0;

    height:2px;

    background:#465886;

    transition:.3s ease;

}

.nav-links a:hover{

    color:#62697a;

}

.nav-links a:hover::after{
    width:100%;

}